[data]
username = "{{ .chezmoi.username }}"
hostname = "{{ .chezmoi.hostname }}"
system = "{{ .chezmoi.os }}-{{ .chezmoi.arch }}"

[edit]
command = "nvim"

[git]
autoPush = false
autoCommit = true
commitMessageTemplate = 'chore(chezmoi): {{ .chezmoi.command }} {{ join " " .chezmoi.args }}'
