# 更新後は chezmoi init

encryption = "age"

[age]
identity = "~/.config/chezmoi/age-key.txt"
recipient = "age1cuk0kfu86y9h763x9xq22s2vjmky4f88ewrwlaeflwfrur8awa9qraghsv"

[data]
username = "{{ .chezmoi.username }}"
hostname = "{{ .chezmoi.hostname }}"
system = "{{ .chezmoi.os }}-{{ .chezmoi.arch }}"

[edit]
command = "nvim"

[git]
autoPush = false
autoCommit = true
commitMessageTemplate = 'chore(chezmoi): {{ "{{" }} .chezmoi.command {{ "}}" }}{{ "{{" }} if .chezmoi.args {{ "}}" }} {{ "{{" }} join " " (slice .chezmoi.args 2) | replaceAllRegex .chezmoi.homeDir "~" {{ "}}" }}{{ "{{" }} end {{ "}}" }}'
