watch_file nix/flake.nix nix/flake.lock
nix_direnv_disallow_fallback
use flake ./nix --no-update-lock-file || return

# Refresh store paths in the Git hook whenever the environment is reloaded.
pre-commit install
